.bl_animManager_btn {

  display: inline-block;
  padding: 3px 13px;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FFAFFA;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px #ee5035;
  font-family: 'nsjp';


}


.bl_animManager_btn:hover {background-color: #e3bbfe}

.bl_animManager_btn:active {
  background-color: #e3bbfe;
  box-shadow: 0 5px #bb1b13;
  transform: translateY(2px);
}

.bl_animManager_wrapper {

}




.bl_animManager {
  background-color: #b5303e;
  opacity:  0.8;
  overflow-y: scroll;
  user-select: none; 
/*  animation-name: comingIn;
  animation-duration: 1s;*/

}


/*@keyframes comingIn {
  0% { width: 0% }
  100%  { width: 60% }
}*/


.bl_animManager_delKeys_btn {
  outline: none;
  border:  none;
  cursor:  pointer;
  background-color: #848790;
  color: #FFAFFA;
  font-size: 1.25em;
  font-weight: 700;

}


.ly_animManager_btn {
  margin-top: 1em;
  padding: 1em;

}


.ly_animManager_wrapper {
  width: 100%;
  height: 100%;
/*  padding: 1em 0.6em 3em 0.6em;
  position: absolute;
  top: 2em;
  right: 0;

  box-sizing: border-box;

  z-index: 2;*/
}


.ly_animManager {
  padding: 1em 0.6em 3em 0.6em;
  margin:  5% 5% 25% 10%;
  position: absolute;
  top: 3em;
  width: 60%;
  height: 50%;
  z-index: 3;
}


.ly_animManager_delKeys_btn {
  width: 15em;
  height: 2em;
  margin-bottom: 1em;
  
}