<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="./css/base.css"></link>
    <link rel="stylesheet" href="./css/menubar.css"></link>
    <link rel="stylesheet" href="./css/attribManager.css"></link>
    <link rel="stylesheet" href="./css/toolbox.css"></link>
    <link rel="stylesheet" href="./css/footer.css"></link>
    <link rel="stylesheet" href="./css/workarea.css"></link>

    <link rel="stylesheet" href="./css/login/login-base.css"></link>

  </head>


  <body>

    <div id="allArea">

      <div class="bl_ramaaApp ly_ramaaApp" id="ramaaApp">

        <div class="loginBase">
         
          <div class="loginInner">
            <a class="back_btn" href="/">< back</a>

            <div class="loginTitle">
              <p>Sign up</p>
            </div>

            <% if (errorMessage) { %>
            <div class="user-message user-message-error">
              <%= errorMessage %>
            </div>
            <% } %>

            <div class="loginContainer">
        
              <form class="loginForm" id="signupForm" action="/createAccount" method="POST">

                <ul>
                  <li>
                    <label for="userName">Name</label>
                  </li>
                  <li>
                    <input type="text" name="userName" id="userName" required>
                  </li>
                  <li>
                    <label for="userEmail">Email</label>
                  </li>
                  <li>
                    <input type="text" name="userEmail" id="userEmail" required>
                  </li>
                  <li>
                    <label for="userPass">Password</label>
                  </li>
                  <li>
                    <input type="password" name="userPass" id="userPass" required>
                  </li>
                  <li>
                    <label for="userPassConfirm">Confirm Password</label>
                  </li>
                  <li>
                    <input type="password" name="userPassConfirm" id="userPassConfirm" required>
                  </li>
                  <li>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  </li>
                  <li>
                    <button type="submit">CREATE NEW ACCOUNT</button>
                  </li>
              </form>

            </div>

          </div>

        </div>

        <div class="user_logo" id="user_logo">
        </div>

        <div class="bl_menu_wrapper ly_menu_wrapper disable-select" id="menu_wrapper">
        </div>



        </div>





      </div>


    </div>



  </body>




</html>

